*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url('../img/r.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-content{
    color: white;
    background: rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    padding: 50px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showcase-content h3{
    margin: 20px 0px;
}
button{
    padding: 10px 20px;
    background: #07ca07c4;
    border: none;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* media quarries */
@media(max-width: 425px){
    .showcase-content{
        font-size: 16px;
        text-align: center;
    }
}

 @media(max-width: 375px){
     body{
         background-size: auto;
         margin: 0px 20px;
         padding: 30px;
     }
     .showcase-content{
        padding: 30px;
     }
     .showcase-content h1{
         font-size: 23px;
     }
     .showcase-content h3{
        font-size: 16px;
        text-align: center;
     }
 }

 @media(min-width: 1440px){
    *{
       font-size: 70px;
    }
}